.header-one {
  background-color: #b0f1f1;
  min-height: 40vh;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwQO44ESzk6kGQIbujcVH5prxSRKu_yLSzfA&usqp=CAU); 
}

.header-text {
  color: aliceblue;
}

.section-one {
  background-color: #ecbc63;
  min-height: 25vh;
}

.section-two {
  background-color: coral;
  min-height: 45vh;
}

.section-three {
  background-color: greenyellow;
  min-height: 35vh;
}

.footer-one {
  background-color: steelblue;
  min-height: 25vh;
}

.footer-two {
  background-color: #72aa72;
  min-height: 20vh;
}