.header-one {
  background-color: #80ffdb;
  min-height: 40vh;
  background-image: url(https://images.unsplash.com/photo-1643785011662-3f1407410f6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=60); 
  background-size: cover;
  background-position: center;
}

.header-text {
  color: #ebf0f3;
  /* background-color: #68878fb6; */
  backdrop-filter: blur(15px);
  max-width: 100vh;
  max-height: 15vh;
}

.navcard-bg {
  background-color: #ff0054;
  backdrop-filter: blur(15px);
  color: white;
}

.header-card-bg {
  background-color: #ff0054;
}

.section-one {
  background-color: #ff0054;
  min-height: 25vh;
}

.img-border {
  border: .4rem solid white;
  border-radius: 5%;
}

.section-one-text {
  font-size: 18pt;
}

.section-one-card {
  background-color: #14213d;
}

.section-two {
  background-color: #8799aa;
  min-height: 45vh;
}

.section-two-text {
  padding-right: 2rem;
  color: white;
  font-size: 18pt;
} 


.card-spill {
  transform: translateY(60px);
}

@media screen and (max-width: 768px) {
  .card-spill{
    transform: translateY(0px);
  }
}

.section-three {
  background-color: #14213d;
  min-height: 35vh;
}

.alien-icon {
  padding-left: 3rem;
  padding-right: 1rem;
  color: #ff0054;
}

.alien-icon:hover {
  color: #ff0054;
  /* box-shadow: 0 0 5px #ff0054; */
  text-shadow: 0 0 5px #ff0054;
}

.imported-font {
  font-family: 'Bebas Neue', cursive;
}
 
.card-header-bg {
  background-color: #00b4d8;
}
.center-card {
  height: 20rem;
  background-color: #ff0054;
  color: white;
}

.center-card-img {
  object-fit: fill;
  padding-bottom: 2rem;
}

.left-card {
  height: 18rem;
  background-color: #ff0054;
  color: white;
}

.right-card {
  height: 18rem;
  background-color: #ff0054;
  color: white;
}

.footer-one {
  background-color: #06d6a0;
  min-height: 25vh;
}

.footer-two {
  background-color: #14213d;
  min-height: 20vh;
}

